.profile-info {
  display: flex;
  width: 100%;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  background-color: coral;
  background-image: url("/images/binding-light.png");
}

.profile-header{
  margin: 100px;
  margin-top: 200px;
  height: 520px;
  width: 1000px;
  display: flex;
  align-items: center;
  background-color: #f4f1ec;
}

@media (max-width: 768px) {
  header.profile-header {
    height: 100%;
    margin: 0px;
    width: 100%;
  }
}