nav {
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  background-color: #3a56a6;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.writeTweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  padding-top: 0.25em;
  font-family: 'Bungee', cursive;
}

@media (max-width: 768px) {
  nav {
    background-color: #CE94E4;
    background-image: url("/images/diagmonds-light.png");
    position: relative;
  }
}