#new-tweet {
  background-color: #f4f1ec;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.counter {
  font-family: 'Bungee', cursive;
}

#tweet-text {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 5px solid #545149;
  resize: none;
}

button {
  color: white;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
}

#new-tweet .tweet-button-counter{
  display: flex;
  justify-content: space-between;
}

#error-message {
  display: flex;
  border: solid red;
  font-size: 50px;
  height: 100px;
  justify-content: center;
  align-items: center;
  color: red;
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
  }
  nav {
    display: flex;
    align-self: flex-start;
  }
} */

