#tweets-container {
  width: 100%;
  display: flex;
  background-color:#f4f1ec;
  font-family: sans-serif;
  flex-direction: column;
  justify-content: center;
}

.tweets{
  width: 90%;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  border: 5px solid #545149;
  padding: 10px;
}

.tweets:hover{
  box-shadow: 10px 10px 5px #a3a3a3;
}

.tweet-header{
  display: flex;
  flex-direction: row;
  font-size: 25px;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-avatar {
  display: flex;
}

.user-name {
  padding-left: 10px;
  margin-top: 10px;
}

.user-handle {
  color:#3e546a;
}

.tweet-message {
  display: flex;
  align-items: center;
  height: 110px;
  width: 100%;
  padding: 10px;
  margin-bottom: 0px;
  border-bottom: 5px solid #545149;
  word-break: break-word;
}

.tweet-footer {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 5px 20px 5px;
}

.tweet-footer .tweet-date{
  padding: 10px;
}

.tweet-footer .tweet-icons{
  font-size: 15px;
  padding-top: 10px
}

.tweet-footer .tweet-icons i{
  color: #3e546a;
  padding-right: 1em;
}

.tweet-footer .tweet-icons i:hover{
  color: #756310;
}
